.footer {
  padding: 50px 0px;
  background: #eeeffa;
}

.footer__box p {
  color: var(--heading-color);
  line-height: 28px;
  margin-top: 20px;
}

.footer__title {
  font-size: 1.2rem;
  color: var(--heading-color);
  margin-bottom: 20px;
}
.footer__links li {
  line-height: 28px;
}
.footer__links li a {
  color: var(--heading-color);
  cursor: pointer;
}
.footer__links li a:hover {
  color: var(--primary-color);
}
.copyrighting {
  margin-top: 30px;
  text-align: center;
  color: #777;
  font-size: 0.9rem;
}
.accordion {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background: #4d536362;
}
.accordion span.open {
  transform: rotate(180deg);
}
.accordion__content {
  width: 100%;
  background: #383a7423;
  padding: 10px;
  display: none;
  overflow: hidden;
  transition: all 600ms ease-in-out;
}
.accordion__content.show {
  transition: height 0.3s ease-in-out;
  display: block;
}
.footer__box {
  margin-bottom: 1rem;
}
.footer__box:last-child {
  margin-bottom: 0;
}
@media only screen and (min-width: 768px) {
  .footer__wrapper {
    display: flex;
    justify-content: space-between;
    column-gap: 2rem;
  }

  .footer__box {
    width: 33%;
  }
  .accordion {
    display: initial;
    justify-content: initial;
    align-items: initial;
    padding: initial;
    background: initial;
  }
  .accordion span {
    display: none;
  }
  .footer__box {
    margin-bottom: 0;
  }
  .accordion__content {
    background: initial;
    padding: initial;
    display: block;
  }
}

@media only screen and (min-width: 1140px) {
  .footer__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 2rem;
  }

  .footer__box {
    width: 33%;
  }
}
